{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<style type="text/css">
  .image-banner {
    display: flex;
    height: {{ section.settings.height }};
    overflow: hidden;
  }
  .left_section {
    width: 50%;
    text-align: center;
  }
  .right_section {
    width: 50%;
    position: relative;
    color: #FFFFFF;
  }

  .left_section .text {
    padding: 6% 12%;
  }
  .left_section .text p {
    font-size: 19px;
  }

  .right_section .dis_taq {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 40%;
  }
  .right_section span.dis_taq {
    font-size: 16rem;
  }
  .right_section .sale {
    margin: 0;
    position: absolute;
    top: 21%;
    transform: translate(-50%, -50%);
    left: 75%;
    font-size: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 20px;
    background: rgba(var(--color-button), var(--alpha-button-background));
    z-index: 99;
    transform: rotateZ(20deg);
  }

  @media only screen and (max-width: 767px) {

    .image-banner {
      display: grid;
      padding: 0;
      margin: 0;
      height: auto;
      overflow: hidden;
    }
    .image-banner .right_section {
      order: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .image-banner .right_section .image img {
      height: 320px;
    }
    .left_section .text {
      padding: 5% 0;
      text-align: center;
    }

    .right_section span.dis_taq {
      font-size: 8rem;
    }
    .image-banner .left_section {
      order: 2;
    }
    .right_section .sale {
      font-size: 24px;
      left: 65%;
    }
  }
</style>
<div>
  <div class="section-{{ section.id }}-padding page-width page-margin  left">
    <div class="color-{{ section.settings.color_scheme }} gradient image-banner template-discount-banner ">
      <div class="left_section">
        <div class="text">
          {% if section.settings.is_sale %}
            <p>SALE</p>
          {% endif %}
          <h1>{{ section.settings.banner_heading }}</h1>
          <p>{{ section.settings.banner_text }}</p>
          <a href="" class="btn primary-btn">Shop Now</a>
        </div>
      </div>
      <div class="right_section">
        <div>
          <div class="image fill">
            <img src="{{ section.settings.image | image_url }}" alt="">
          </div>
          <span class="dis_taq">{{ section.settings.discount_price }}</span>
          {% if section.settings.is_sale %}
            <span class="sale">Sale/span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Discount Banner",
    "settings": [
      {
        "type": "text",
        "id": "height",
        "label": "Section Height",
        "default": "500px"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Select Image"
      },
      {
        "type": "text",
        "id": "discount_price",
        "label": "Discount Price",
        "default": "-20%"
      },
      {
        "type": "text",
        "id": "banner_heading",
        "label": "Heading",
        "default": "Limited Time, Unbeatable Savings"
      }, {
        "type": "richtext",
        "id": "banner_text",
        "label": "Sub Heading",
        "default": "<p>Hurry and take advantage of our limited-time, unbeatable savings event</p>"
      }, {
        "type": "checkbox",
        "id": "is_sale",
        "label": "Enable Sale"
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      }

    ],
    "presets": [
      {
        "name": "Discount Banner Section"
      }
    ]
  }
{% endschema %}