{{ 'section-tab.css' | asset_url | stylesheet_tag }}

<section class="color-{{ section.settings.color_scheme }} gradient page-width page-margin">
  <div class="tabset">
    {% for block in section.blocks %}
      <input
        type="radio"
        name="tabset"
        id="{{ block.id }}"
        aria-controls="{{ block.id }}"
        checked>
      <label for="{{ block.id }}">{{ block.settings.heading | escape }}</label>
    {% endfor %}
    <div class="tab-panels">
      {% for block in section.blocks %}
        <section id="{{ block.id }}" class="tab-panel">
          <p>{{ block.settings.text }}</p>
        </section>
      {% endfor %}
    </div>

  </div>

</section>
{% schema %}
  {
    "name": "tabs",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      }
    ],
    "blocks": [
      {
        "name": "Tabs",
        "type": "text",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Text",
            "default": "Description"
          }, {
            "type": "richtext",
            "id": "text",
            "label": "Input Text",
            "default": "<p>This is product decription </p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Tabs"
      }
    ]
  }
{% endschema %}